<header>
  <feel-button label="Github" link="https://api.doubleblind.science/auth/github/login">
    <app-icon-github/>
  </feel-button>
</header>
<main>
  <div class="hero">
    <div class="hero-bg"></div>
    <h1 class="title">Doubleblind.Science</h1>
    <p>Promoting funny papers since 2023 supported balalalalalaaaalal</p>
  </div>
</main>
<footer>
  <app-card
    link="https://cs.tu-dresden.de"
    backgroundImage="assets/images/supporters/tud.webp"
    [inverseShadow]="true"
  >
    <app-icon-tud/>
  </app-card>
  <app-card
    link="https://lasr.org"
    backgroundImage="assets/images/supporters/tud.webp"
    [inverseShadow]="true"
  >
    <h2>LASR LAB</h2>
  </app-card>
  <app-card
    link="https://dresden.zone"
    backgroundImage="assets/images/supporters/dd-zone.webp"
    [inverseShadow]="true"
  >
    <h2>Dresden.Zone</h2>
  </app-card>
</footer>
