<main>
    <div class="hero">
      <div class="hero-bg"></div>
      <h1 class="title">Doubleblind.Science</h1>
      <p>Promoting Open and Reproducible Science. </p>
    </div>
    <div class="landing-page-setup">
      <h3> Host your Artifacts on Doubleblind.Science:</h3>
      <feel-button label="Setup" (click)="call()">
        <app-icon-add/>
      </feel-button>
    </div>
</main>
<footer>
  <div class="support">
    <app-card
      link="https://cs.tu-dresden.de"
      backgroundImage="assets/images/supporters/tud.webp"
      [inverseShadow]="true"
    >
      <app-icon-tud/>
    </app-card>
    <app-card
      link="https://lasr.org"
      backgroundImage="assets/images/supporters/tud.webp"
      [inverseShadow]="true"
    >
      <app-icon-lasr/>
    </app-card>
    <app-card
      link="https://dresden.zone"
      backgroundImage="assets/images/supporters/dd-zone.webp"
      [inverseShadow]="true">
      <app-icon-dd-zone/>
    </app-card>
  </div>
  <div class="links">
    <a href="https://github.com/dresden-zone/doubleblind.science">Github</a>
    <a href="https://lasr.org">Contact</a>
  </div>
</footer>
