<header>
  <feel-button label="Github" (click)="call()">
    <app-icon-github/>
  </feel-button>
</header>
<main>
  <div class="hero">
    <div class="hero-bg"></div>
    <h1 class="title">Doubleblind.Science</h1>
    <p>Promoting funny papers since 2023 supported balalalalalaaaalal</p>
  </div>
</main>
<footer>
  <div class="support">
    <app-card
      link="https://cs.tu-dresden.de"
      backgroundImage="assets/images/supporters/tud.webp"
      [inverseShadow]="true"
    >
      <app-icon-tud/>
    </app-card>
    <app-card
      link="https://lasr.org"
      backgroundImage="assets/images/supporters/tud.webp"
      [inverseShadow]="true"
    >
      <app-icon-lasr/>
    </app-card>
    <app-card
      link="https://dresden.zone"
      backgroundImage="assets/images/supporters/dd-zone.webp"
      [inverseShadow]="true">
      <app-icon-dd-zone/>
    </app-card>
  </div>
  <div class="links">
    <a href="https://github.com/dresden-zone/doubleblind.science">Github</a>
    <a href="">Impressum</a>
  </div>
</footer>
